enable tcp option visibility

tcp has a number of option fields (timestamp, mss, window scale) which provide insights into the health and performance of the e2e tcp connection.   it would be useful to expose when these option fields are present in a session so downstream tools could trigger on their existance and perform corresponsing analytics.

the suggestion is that moloch/es is extended such that the system can track the number of each option type present in packets within a session.    i'd suggest we only track/count options which are tied to RFCs (and even with those we might want to par down to a smaller set.) . further, there should be a way to track when an unknown option (ie not one of the above) is in the stream as that might alert downstream tools to something amiss and further digging warranted.

Below are the tcp options defined which are tied to an RFC.   not sure we need to support all, just posting as a starting point.

0	-	End of Option List	[RFC793]
1	-	No-Operation	[RFC793]
2	4	Maximum Segment Size	[RFC793]
3	3	Window Scale	[RFC7323]
4	2	SACK Permitted	[RFC2018]
5	N	SACK	[RFC2018]
6	6	Echo (obsoleted by option 8)	[RFC1072][RFC6247]
7	6	Echo Reply (obsoleted by option 8)	[RFC1072][RFC6247]
8	10	Timestamps	[RFC7323]
9	2	Partial Order Connection Permitted (obsolete)	[RFC1693][RFC6247]
10	3	Partial Order Service Profile (obsolete)	[RFC1693][RFC6247]
11		CC (obsolete)	[RFC1644][RFC6247]
12		CC.NEW (obsolete)	[RFC1644][RFC6247]
13		CC.ECHO (obsolete)	[RFC1644][RFC6247]
14	3	TCP Alternate Checksum Request (obsolete)	[RFC1146][RFC6247]
15	N	TCP Alternate Checksum Data (obsolete)	[RFC1146][RFC6247]
19	18	MD5 Signature Option (obsoleted by option 29)	[RFC2385]
27	8	Quick-Start Response	[RFC4782]
28	4	User Timeout Option (also, other known unauthorized use) [***][1]	[RFC5482]
29		TCP Authentication Option (TCP-AO)	[RFC5925]
30	N	Multipath TCP (MPTCP)	[RFC-ietf-mptcp-rfc6824bis-18]
34	variable	TCP Fast Open Cookie	[RFC7413]
69	N	Encryption Negotiation (TCP-ENO)	[RFC8547]
253	N	RFC3692-style Experiment 1 (also improperly used for shipping products) [*]	[RFC4727]
254	N	RFC3692-style Experiment 2 (also improperly used for shipping products) [*]	[RFC4727]


